# This is a **sample** of Postfix's ``main.cf`` config file.
#
# It is not meant to be used directly, but will need automatic or manual
# adjustments to make it actually work.
#
# All changes made during the development of
# https://github.com/Mischback/mailsrv should be non-invasive, meaning the
# original configuration is still present (and commented) beside the adjusted
# active configuration.
# # List of customizable settings:
#   - inet_interfaces
#   - inet_protocols
#   - myhostname
#   - smtp_address_preferece
#   - smtp_bind_address
#   - smtp_bind_address6
#   - smtp_bind_address_enforce
#   - smtp_host_lookup
#   - smtpd_tls_cert_file
#   - smtpd_tls_key_file
#
# Issues:
#   - https://github.com/Mischback/mailsrv/issues/19
#   - https://github.com/Mischback/mailsrv/issues/16
#   - https://github.com/Mischback/mailsrv/issues/17

# Postfix's main configuration file
# /etc/postfix/main.cf

# The server's banner.
#
# Ref: https://www.postfix.org/postconf.5.html#smtpd_banner
#
# Starting with ``$myhostname`` is actually required by SMTP (see
# https://datatracker.ietf.org/doc/html/rfc5321#section-4.3.1). ``$myhostname``
# is specified explicitly in this config file below.
smtpd_banner = $myhostname ESMTP $mail_name

# Do not send local notifications.
#
# Ref: https://www.postfix.org/postconf.5.html#biff
#
# Actually there is no mail to local users, this is obsolete, but Postfix's
# default is "yes".
biff = no

# Appending .domain is the MUA's job.
#
# Ref: https://www.postfix.org/postconf.5.html#append_dot_mydomain
#
# This is already included in Debian's default config and seems pretty
# reasonable!
append_dot_mydomain = no

# Notify the sender, that its mail is still queued.
#
# Ref: https://www.postfix.org/postconf.5.html#delay_warning_time
#
# The default value (0) means, no notifications will be sent.
#delay_warning_time = 4h

# The location of Postfix's README files.
#
# Ref: https://www.postfix.org/postconf.5.html#readme_directory
#
# Postfix do work without this setting. Why is it specified? Is this some
# fingerprinting mitigation?
#
# TODO: Find out if this remotely accessible!
# readme_directory = no

# Provide a safety net for updating Postfix's version.
#
# This applies some backward-compatible default values for some settings. As
# this is a fresh install, this should not be required.
#
# Ref: http://www.postfix.org/COMPATIBILITY_README.html
#
# Debian (bullseye) default: 2
# This value (99) ensures, that no backward-compatible settings are applied.
# Instead, make the settings that are actually required!
#
# TODO: This may need adjustment when newer versions of Postfix are used!
compatibility_level = 99

# TLS parameters
#
# Please note: This is just a dummy install, but the paths  are in fact
# good enough for development.

# Provide STARTTLS capability on SMTP:25
#
# The connecting server may choose to use TLS, but the server will accept
# unencrypted connections aswell.
# This port is meant to be used by other mail servers, though it is technically
# possible to submit mails here, too.
#
# Ref: https://www.postfix.org/postconf.5.html#smtpd_tls_security_level
smtpd_tls_security_level = may

# The (public) certificate to use for TLS
#
# Ref: https://www.postfix.org/postconf.5.html#smtpd_tls_cert_file
#
# CONFIGURATION_REQUIRED!
smtpd_tls_cert_file = ${MAILSRV_TLS_CERT}

# The (private) key to use for TLS
#
# Ref: https://www.postfix.org/postconf.5.html#smtpd_tls_key_file
#
# CONFIGURATION_REQUIRED!
smtpd_tls_key_file = ${MAILSRV_TLS_KEY}

# Require TLS for authentication (AUTH)
#
# Ref: https://www.postfix.org/postconf.5.html#smtpd_tls_auth_only
#
# While TLS is not enforced generally (see ``smtpd_tls_security_level``),
# authentication is only possible with an encrypted connection.
smtpd_tls_auth_only = yes

# Use TLS while sending mails to other servers, when possible
#
# Ref: https://www.postfix.org/postconf.5.html#smtp_tls_security_level
#
# Probably this setting should not be touched, because there are still plenty
# of mail servers without TLS capabilities.
smtp_tls_security_level = may

# Provide a TLS session cache
#
# Ref: https://www.postfix.org/postconf.5.html#smtp_tls_session_cache_database
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

# Who is allowed to send mails to other servers?
#
# Basically this means: Only relay for my own network and if a user could
# authenticate.
#
# Ref: https://www.postfix.org/postconf.5.html#smtpd_relay_restrictions
smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination

# The server's FQDN
#
# Ref: https://www.postfix.org/postconf.5.html#myhostname
#
# See ``smtp_banner`` for an actual application.
#
# CONFIGURATION_REQUIRED!
myhostname = ${MAILSRV_HOSTNAME}

# Aliases for "local" accounts.
#
# After changing the referenced file(s), ``newaliases`` has to be run!
#
# Ref: https://www.postfix.org/postconf.5.html#alias_maps
# Ref: https://www.postfix.org/postconf.5.html#alias_database
alias_maps = hash:/etc/postfix/local_aliases
alias_database = hash:/etc/postfix/local_aliases

# The list of domains that are delivered locally.
#
# Ref: https://www.postfix.org/postconf.5.html#mydestination
#
# The setup relies on "virtual" domains / mailboxes and aliases. This setting
# is not really relevant, though it is picked up elsewhere.
mydestination = localhost

# Other SMTP clients coming from these networks are trusted a priori.
#
# Ref: https://www.postfix.org/postconf.5.html#mynetworks
#
# If omitted, Postfix will automatically find this out, depending on
# ``mynetworks_style`` (see below).
# This should be the preferred method to ease deployments to different servers.
# mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128

# Let Postfix determine trusted SMTP clients depending on this guideline.
#
# Ref: https://www.postfix.org/postconf.5.html#mynetworks_style
#
# For now, just trust our very own host!
mynetworks_style = host

# The next-hop destination(s) for non-local mail
#
# Ref: https://www.postfix.org/postconf.5.html#relayhost
#
# May just be left empty, which is Debian bullseye's default anyway.
relayhost =

# Limit the size of local mailboxes.
#
# There are zero to none local mailboxes, depending on the setttings of
# ``alias_maps``/``alias_database``. This does not affect the virtual mailboxes
# that are handled by Dovecot.
#
# Ref: https://www.postfix.org/postconf.5.html#mailbox_size_limit
#
# Default value: 51.200.000
# Default value (bullseye): 0 (=no limit)
# This value: 26.214.400 = 25MB
mailbox_size_limit = 26214400

# The network interface the mail system receives mail on.
#
# If only one IP address is provided, this address is also used to actually
# send outbound mail.
#
# Ref: https://www.postfix.org/postconf.5.html#inet_interfaces
#
# Accepted values: ``all`` to listen on all interfaces or an IPv4/IPv6 address
#                  to listen to.
#
# FIXME: See https://github.com/Mischback/mailsrv/issues/19
# CONFIGURATION_REQUIRED!
inet_interfaces = ${MAILSRV_POSTFIX_INTERFACES}

# Use this IPv4 address for outgoing connections.
#
# Ref: https://www.postfix.org/postconf.5.html#smtp_bind_address
#
# In this setup, this is specified globally (in ``main.cf``), but there is an
# option to use this setting dedicatedly in ``master.cf`` for services. See
# https://www.postfix.org/postconf.5.html#inet_interfaces for reference.
#
# Accepted values: an IPv4 address or [blank]
#
# Default value: [blank]
#
# CONFIGURATION_REQUIRED!
smtp_bind_address = ${MAILSRV_BIND_IPV4}

# Use this IPv6 address for outgoing connections.
#
# Ref: https://www.postfix.org/postconf.5.html#smtp_bind_address6
#
# In this setup, this is specified globally (in ``main.cf``), but there is an
# option to use this setting dedicatedly in ``master.cf`` for services. See
# https://www.postfix.org/postconf.5.html#inet_interfaces for reference.
#
# Accepted values: An IPv6 address or [blank]
#
# Default value: [blank]
#
# CONFIGURATION_REQUIRED!
smtp_bind_address6 = ${MAILSRV_BIND_IPV6}

# Force the address bind as specified by smtp_bind_address[6]
#
# Actually the binding should be enforced. This logs lots of warnings while
# Postfix starts up, if ``smtp_bind_address`` and ``smtp_bind_address6`` are
# not provided and this is set to ``yes``. If your setup uses either of the
# mentioned configuration values, consider turning this to ``yes``.
#
# Ref: https://www.postfix.org/postconf.5.html#smtp_bind_address_enforce
#
# Default value: no
#
# CONFIGURATION_REQUIRED!
smtp_bind_address_enforce = no

# Limit the usage of the internet protocol to v4 or v6.
#
# Ref: https://www.postfix.org/postconf.5.html#inet_protocols
#
# Accepted values: ``ipv4``, ``ipv6``, ``all``
#
# Default value: ``all``
#
# CONFIGURATION_REQUIRED!
inet_protocols = ${MAILSRV_IP_VERSION}

# Specify a preference for the IP version used to connect to destination.
#
# Ref: https://www.postfix.org/postconf.5.html#smtp_address_preference
#
# Accepted values: ``ipv4``, ``ipv6``, ``any``
#
# Default value: ``any``
#
# CONFIGURATION_REQUIRED!
smtp_address_preference = ${MAILSRV_IP_PREFERENCE}

# Which mechanism is used for name resolution.
#
# Generally Postfix uses the system's DNS resolver setting, which is desirable.
# However, it may be necessary to make usage of the system's ``/etc/hosts`` for
# temporary overrides.
#
# Ref: https://www.postfix.org/postconf.5.html#smtp_host_lookup
#
# Accepted values: ``dns``, ``native``, ``dns,native``
#
# CONFIGURATION_REQUIRED!
smtp_host_lookup = ${MAILSRV_DNS_LOOKUP}

###
# THE FOLLOWING SETTINGS GET ADJUSTMENTS WHILE FOLLOWING
# https://workaround.org/ispmail/bullseye/
###

# Accept mails for these virtual domains
#
# Ref: https://www.postfix.org/postconf.5.html#virtual_mailbox_domains
#
# Deviating from the guide, this uses a file-based configuration instead of
# a database backend.
#
# The file actually follows the common Postfix syntax of [key][BLANK][value].
# Remember to run ``postmap`` on that file after any edit!
#
# TODO: See https://github.com/Mischback/mailsrv/issues/16
virtual_mailbox_domains = hash:/etc/postfix/virtual_domains

# These are the actual virtual mailboxes.
#
# Ref: https://www.postfix.org/postconf.5.html#virtual_mailbox_maps
#
# Deviating from the guide, this uses a file-based configuration instead of
# a database backend.
#
# The file actually follows the common Postfix syntax of [key][BLANK][value].
# Remember to run ``postmap`` on that file after any edit!
#
# TODO: See https://github.com/Mischback/mailsrv/issues/16
virtual_mailbox_maps = hash:/etc/postfix/virtual_mailboxes

# These are virtual aliases.
#
# Mails for these addresses will be accepted.
#
# Ref: https://www.postfix.org/postconf.5.html#virtual_alias_maps
#
# Deviating from the guide, this uses a file-based configuration instead of
# a database backend.
#
# The file actually follows the common Postfix syntax of [key][BLANK][value].
# Remember to run ``postmap`` on that file after any edit!
#
# TODO: See https://github.com/Mischback/mailsrv/issues/16
virtual_alias_maps = hash:/etc/postfix/virtual_aliases

# Use Dovecot's LMTP implementation for actual delivery to mailboxes.
#
# Ref: https://www.postfix.org/postconf.5.html#virtual_transport
#
# Following https://workaround.org/ispmail/bullseye/postfix-send-emails-to-dovecot/
# but slightly deviating on the actual path. See
# /etc/dovecot/conf.d/10-master.conf for details.
virtual_transport = lmtp:unix:socket/dovecot/lmtp

# Check Dovecot's quotas before accepting more mails
#
# Ref: https://www.postfix.org/postconf.5.html#smtpd_recipient_restrictions
#
# Following https://workaround.org/ispmail/bullseye/quotas-2/ but slightly
# deviating on the actual path. See
# /etc/dovecot/conf.d/90-quota.conf for details.
smtpd_recipient_restrictions =
  reject_unauth_destination
  check_policy_service unix:socket/dovecot/quota-status

# Set the SASL plugin type.
#
# Ref: https://www.postfix.org/postconf.5.html#smtpd_sasl_type
smtpd_sasl_type = dovecot

# The dovecot SASL plugin uses a unix socket.
#
# Ref: https://www.postfix.org/postconf.5.html#smtpd_sasl_path
smtpd_sasl_path = socket/dovecot/auth

# Enable SASL authentication in Postfix.
#
# Ref: https://www.postfix.org/postconf.5.html#smtpd_sasl_auth_enable
smtpd_sasl_auth_enable = yes

# Control which SASL-authenticated account can use which MAIL FROM.
#
# Ref: https://www.postfix.org/postconf.5.html#smtpd_sender_login_maps
#
# TODO: See https://github.com/Mischback/mailsrv/issues/16
smtpd_sender_login_maps = hash:/etc/postfix/sender_login_map

