# Make sure to actually ignore all configuration files! They may contain
# user-specific, probably sensitive, configuration data, that should not be
# exposed!
configs/*
# ... but do include this repository's samples!
!configs/*/
configs/*/*
!configs/*/**.sample
# Dovecot's samples are in fact deeper (in configs/dovecot/conf.d/*)
!configs/*/*/
configs/*/*/*
!configs/*/*/**.sample
# The following script is provided directly... It will not disclose sensitive
# data (configuration data) and may be used *as is*.
!configs/dovecot/quota-warning.sh

# Ignore Python virtual environments
.test-venv/
.tox-venv/
.tox/

# Ignore Sphinx's bulid directory
docs/build/

# Ignore byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
