# MAILSRV_TEST_SMTP_SENDER=sender@another-host.test
# MAILSRV_TEST_SMTP_RECIPIENT_1=user_one@sut.test
# MAILSRV_TEST_SMTP_RECIPIENT_2=user_two@sut.test
# MAILSRV_TEST_SMTP_RECIPIENT_NONEXISTENT=idontevenexist@sut.test
# MAILSRV_TEST_SMTP_ALIAS_1=alias_one@sut.test
# MAILSRV_TEST_SMTP_ALIAS_LIST=alias_list@sut.test
# MAILSRV_TEST_SMTP_ALIAS_INVALID=alias_invalid@sut.test
