# MAILSRV_TEST_FROM_ADDRESS=testuser@non.existent
# MAILSRV_TEST_TARGET_SMTP_PORT=25
# MAILSRV_TEST_TARGET_RECIPIENT_1=mailbox01@test.setup
# MAILSRV_TEST_TARGET_ALIAS_1=alias1@test.setup
# MAILSRV_TEST_TARGET_RECIPIENT_NONEXISTENT=iam1337@test.setup
