# This is a **sample** of ``mailsrv``'s settings file.
#
# This file contains the adjustable values, that will be applied to the actual
# configuration files of Postfix, Dovecot, ...
#
# It does contain documentation about WHERE this settinng is applied and WHAT
# are the implications.
#
# Please refer to the documentation of the actual software for further
# reference.

# Hostname
#
# Applied in:
#   - configs/postfix/main.cf: ``myhostname``
#
# SMTP servers are required to provide their FQDN during SMTP sessions (see
# https://datatracker.ietf.org/doc/html/rfc5321#section-4.3.1). While Postfix
# is generally capable to determine the FQDN of its hosting server, this might
# not be desirable in more complex setups, e.g. while having multiple interfaces
# or IP addresses.
#
# Generally speaking: You want this to be whatever you provide as MX record in
# your DNS setup.
MAILSRV_HOSTNAME=mail.mailsrv.test
