# This is a **sample** of ``mailsrv``'s settings file.
#
# This file contains the adjustable values, that will be applied to the actual
# configuration files of Postfix, Dovecot, ...
#
# It does contain documentation about WHERE this settinng is applied and WHAT
# are the implications.
#
# Please refer to the documentation of the actual software for further
# reference.

# Hostname
#
# Applied in:
#   - /etc/postfix/main.cf: ``myhostname``
#
# SMTP servers are required to provide their FQDN during SMTP sessions (see
# https://datatracker.ietf.org/doc/html/rfc5321#section-4.3.1). While Postfix
# is generally capable to determine the FQDN of its hosting server, this might
# not be desirable in more complex setups, e.g. while having multiple interfaces
# or IP addresses.
#
# Generally speaking: You want this to be whatever you provide as MX record in
# your DNS setup.
MAILSRV_HOSTNAME=mail.mailsrv.test

# Postfix's Interfaces (general)
#
# Applied in:
#   - /etc/postfix/main.cf: ``inet_interfaces``
#
# This setting may be used to restrict Postfix to work only with one interface.
# See the related settings ``smtp_bind_address`` / MAILSRV_BIND_IPV4 and
# ``smtp_bind_address6`` / MAILSRV_BIND_IPV6.
#
# If dedicated addresses are specified here, Postfix will only bind to these
# addresses.
#
# Accepted values: ``all`` to listen on all interfaces or an IPv4/IPv6 address
#                  to listen to.
# Default value: ``all``
#
# TODO: https://github.com/Mischback/mailsrv/issues/19
MAILSRV_POSTFIX_INTERFACES=all

# Postfix's Interfaces (IPv4)
#
# Applied in:
#   - /etc/postfix/main.cf: ``smtp_bind_address``
#
# This settings controls, which IPv4 address should be used while connecting
# to other servers.
# In this setup, this is specified globally (in ``main.cf``), but there is an
# option to use this setting dedicatedly in ``master.cf`` for services. See
# https://www.postfix.org/postconf.5.html#inet_interfaces for reference.
#
# Accepted values: an IPv4 address or [blank]
# Default: value: [blank]
MAILSRV_BIND_IPV4=

# Postfix's Interfaces (IPv6)
#
# Applied in:
#   - /etc/postfix/main.cf: ``smtp_bind_address6``
#
# This settings controls, which IPv6 address should be used while connecting
# to other servers.
# In this setup, this is specified globally (in ``main.cf``), but there is an
# option to use this setting dedicatedly in ``master.cf`` for services. See
# https://www.postfix.org/postconf.5.html#inet_interfaces for reference.
#
# Accepted values: an IPv6 address or [blank]
# Default: value: [blank]
MAILSRV_BIND_IPV6=

# Internet Protocol Version
#
# Applied in:
#   - /etc/postfix/main.cf: ``inet_protocols``
#
# This setting may be used to limit Postfix to IPv4 or IPv6 usage. Accepted
# values are ``ipv4``, ``ipv6`` or ``all``, which is basically ``ipv4, ipv6``.
# See https://www.postfix.org/postconf.5.html#inet_protocols for reference.
#
# See the related setting ``smtp_address_preference`` / MAILSRV_IP_PREFERENCE.
MAILSRV_IP_VERSION=all

# Internet Protocol Version Preference
#
# Applied in:
#   - /etc/postfix/main.cf: ``smtp_address_preference``
#
# This setting allows to specifiy a preference for outgoing connections to other
# servers. This setting only takes effect, if Postfix's ``inet_protocols`` does
# allow IPv4 **and** IPv6 usage (see MAILSRV_IP_VERSION).
# See https://www.postfix.org/postconf.5.html#smtp_address_preference for
# reference.
MAILSRV_IP_PREFERENCE=any

# Postfix's name resolution
#
# Applied in:
#   - /etc/postfix/main.cf: ``smtp_host_lookup``
#
# Postfix's default setting resolves external hosts by using the system's dns
# mechanism, which is generally desirable.
#
# However, during manual testing, the usage of the system's ``/etc/hosts`` file
# may be useful. In this case set this to ``dns,native`` instead of just
# ``dns``.
MAILSRV_DNS_LOOKUP=dns

# TLS certificate
#
# Applied in:
#   - /etc/postfix/main.cf: ``smtpd_tls_cert_file``
#
# The provided default value is Debian's default value in Postfix's
# configuration. Provide the absolute path to the actual certificate file, that
# is the PUBLIC certificate.
MAILSRV_TLS_CERT=/etc/ssl/certs/ssl-cert-snakeoil.pem

# TLS key
#
# Applied in:
#   - /etc/postfix/main.cf: ``smtpd_tls_key_file``
#
# The provided default value is Debian's default value in Postfix's
# configuration. Provide the absolute path to the actual key file, that is the
# PRIVATE key.
MAILSRV_TLS_KEY=/etc/ssl/private/ssl-cert-snakeoil.key

# The email address of the server's admin.
#
# Applied in:
#   - /etc/dovecot/conf.d/10-mail.conf: ``mail_server_admin``
#
# According to RFC 5464 this must be a URI, the *mailto:* part is actually
# provided in ``10-mail.conf`` directly.
MAILSRV_SERVER_ADMIN=postmaster@mailsrv.test
