# This is a **sample** of ``mailsrv``'s settings file.
#
# This file contains the adjustable values, that will be applied to the actual
# configuration files of Postfix, Dovecot, ...
#
# It does contain documentation about WHERE this settinng is applied and WHAT
# are the implications.
#
# Please refer to the documentation of the actual software for further
# reference.
