# This is a **sample** of Dovecots's ``90-quota.conf`` config file.
#
# It is not meant to be used directly, but will need automatic or manual
# adjustments to make it actually work.

# Quota-related settings
#
# This is basically based on https://workaround.org/ispmail/bullseye/quotas-2/
# but deviates in certain aspects:
#   - a global quota limit for virtual mailboxes is defined here
#   - a quota_grace is added
plugin {
  # Enable a user-specific quota with the ``count`` backend
  #
  # See https://doc.dovecot.org/settings/plugin/quota-plugin/#plugin-quota
  quota = count:User Quota

  # Use virtual instead of physical sizes (required by ``count`` backend)
  quota_vsizes = yes

  # Provide 1GB of storage for any user...
  #
  # CONFIGURATION_REQUIRED!
  quota_rule = *:storage=${MAILSRV_MAILBOX_QUOTA}
  # ... and be gracious about the content of Trash
  #
  # This is only relevant for an IMAP-based setup.
  # quota_rule2 = Trash:storage=+10%%

  # Add some grace to the quota
  quota_grace = 10%%

  # These are settings for the quota-status service
  #
  # See https://blog.sys4.de/postfix-dovecot-mailbox-quota-en.html
  quota_status_success = DUNNO
  quota_status_nouser = DUNNO
  quota_status_overquota = "552 5.2.2 Mailbox is full and can not receive any more messages"

  # Provide warnings to the users
  quota_warning = storage=95%% quota-warning 95 %u
  quota_warning2 = storage=80%% quota-warning 80 %u
}

# Provide the current quota status of a recipient to Postfix.
service quota-status {
  executable = /usr/lib/dovecot/quota-status -p postfix
  # Create unix socket
  #
  # The socket must be placed in Postfix's chroot environment.
  unix_listener /var/spool/postfix/socket/dovecot/quota-status {
    # as per https://workaround.org/ispmail/bullseye/setting-up-dovecot-2/
    # user and group should be set to "postfix", while
    # https://doc.dovecot.org/configuration_manual/service_configuration/#unix-listeners-and-fifo-listeners
    # suggests, that (numerical) ids may be used.
    #
    # For now just following the tutorial!
    mode = 0660
    user = postfix
    group = postfix
  }
}

# Create warning messages regarding the quotas.
service quota-warning {
  # The actual script that sends the quota warning message
  executable = script /etc/dovecot/quota-warning.sh

  # This service is only used internally by Dovecot
  unix_listener quota-warning {
    user = vmail
    group = vmail
    mode = 0660
  }
}
